{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2></h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'main/index/assets/img/anatomy/elbowanatomy.jpg' %}" class="img-fluid" alt="">
			<br>
			<p>
			</p>
			<br>
			<p>Please watch the video for further information</p>
			<div class="iframe-container">
			<iframe width="355" height="200" src="https://www.youtube.com/embed/3l3-5Ij3JZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>						
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Anatomy of the Elbow</h3>

            <p>
             The elbow joint is a synovial joint found in the upper limb between the arm and the forearm. It is the point of articulation of three bones: the humerus of the arm and the radius and the ulna of the forearm. 
            </p>
			<p>
             The elbow joint is classified structurally as a synovial joint. It is also classified structurally as a compound joint, as there are two articulations in the joint. Synovial joints, also called diarthroses, are free movable joints. The articular surfaces of the bones at these joints are separated from each other by a layer of hyaline cartilage. Smooth movement at these joints is provided by a highly viscous synovial fluid, which acts as a lubricant.
            </p>
			<p>
             A fibrous capsule encloses the joint, and is lined internally by a synovial membrane. Synovial joints can be further categorized based on function. The elbow joint is functionally a hinge joint, allowing movement in only one plane (uniaxial).
            </p>
			
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Musculoskeletal Disorders of the Elbow</h2>
          <p></p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Tennis Elbow (Lateral Epicondylitis) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
				<div class="row">
				<div class="col-lg-4">
				<img src="{% static 'main/index/assets/img/MSDs/elbow1.jpg' %}" class="img-fluid" alt="">
				<br>
				<br>
				<div class="iframe-container">
				<iframe width="280" height="200" src="https://www.youtube.com/embed/kAy8q7yJAHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p>Please watch the video for further information.</p>
				
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
				<p>
				Tennis elbow, or lateral epicondylitis, is a painful condition of the elbow caused by overuse. Not surprisingly, playing tennis or other racquet sports can cause this condition. However, several other sports and activities besides sports can also put you at risk.
				</p>
				<p>
				Tennis elbow is inflammation or, in some cases, microtearing of the tendons that join the forearm muscles on the outside of the elbow. The forearm muscles and tendons become damaged from overuse — repeating the same motions again and again. This leads to pain and tenderness on the outside of the elbow.
				</p>
				<br>
				Symptoms:<br>-Weak grip strength<br>-Elbow pain <br>-Weakness
				
				</div>
				</div>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Bursitis (Olecranon) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
				<div class="row">
				<div class="col-lg-4">
				<img src="{% static 'main/index/assets/img/MSDs/elbow2.jpg' %}" class="img-fluid" alt="">
				<br>
				<br>
				<div class="iframe-container">
				<iframe width="280" height="200" src="https://www.youtube.com/embed/yRYVhAMj8y8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p>Please watch the video for further information.</p>
				
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
				<p>
				Bursitis is inflammation or infection of the fluid-filled sacs, called bursa, which cushion tendons and bones throughout the body. Bursitis of the elbow occurs when the olecranon bursa at the pointy tip of the elbow becomes inflamed or irritated. Persistent pressure or blow to the elbow can cause olecranon bursitis. It can also cause by an infection.
				</p>
				<br>
				Symptoms: <br>- Swelling of the elbow (red and warm to touch)<br>- Loose skin on the back of the elbow<br>-Tenderness to touch<br>- Pain radiates from the outside of the elbow, forearm, and wrist
				</div>
				</div>
              </div>
            </li>			

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dislocated Elbow <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
				<div class="row">
				<div class="col-lg-4">
				<img src="{% static 'main/index/assets/img/MSDs/elbow3.jpg' %}" class="img-fluid" alt="">
				<br>
				<br>
				<div class="iframe-container">
				<iframe width="280" height="200" src="https://www.youtube.com/embed/WZagUe4GvOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p>Please watch the video for further information.</p>
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
				<p>
				A dislocated elbow occurs when the joint in the elbow becomes partly or fully detached. Most patients with an elbow dislocation are in extreme pain. The forearm appears slightly foreshortened compare with the normal forearm. Swelling of the elbow is usually present and increases with time.  
				</p>
				<br>
				Symptoms: <br>-Swelling and bruising<br>-Severe pain in the elbow<br>-Inability to bend the arm<br>-Visible deformity 
				</div>
				</div>
              </div>
            </li>	

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Olecranon Fracture (Broken Elbow) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
				<div class="row">
				<div class="col-lg-4">
				<img src="{% static 'main/index/assets/img/MSDs/elbow4.jpg' %}" class="img-fluid" alt="">
				<br>
				<br>
				<div class="iframe-container">
				<iframe width="280" height="200" src="https://www.youtube.com/embed/lFa5sGgopwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p>Please watch the video for further information.</p>
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
				<p>
				The bone at the tip of your elbow, called the olecranon, doesn’t have much padding, so it can break if you fall or receive direct blow. It is usually causes sudden, intense pain. Afterwards you probably won’t be able to straighten your elbow
				</p>
				<p>
				Treatment for an olecranon fracture depends upon the severity of the injury. Some simple fractures can be treated by wearing a splint until the bone heals. In most olecranon fractures, however, the pieces of bone move out of place when the injury occurs. For these fractures, surgery is required to restore both the normal anatomy of the elbow and motion in the joint.
				</p>
				<br>
				Symptoms: <br>- Swelling and bruising, discoloration<br>- Inability to straighten your elbow<br>- Severe pain<br>-Visible Deformity
				</div>
				</div>
              </div>
            </li>

			<li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Radius/Ulnar Fracture (Broken Forearm)  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
				<div class="row">
				<div class="col-lg-4">
				<img src="{% static 'main/index/assets/img/MSDs/elbow5.jpg' %}" class="img-fluid" alt="">
				<br>
				<br>
				<div class="iframe-container">
				<iframe width="280" height="200" src="https://www.youtube.com/embed/Ud9A6_uRcvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p>Please watch the video for further information.</p>
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
				<p>
				A fractured forearm is a break in one or both bones in the forearm – the radius and the ulna. It is most often caused by a fall or other type of injury. With serious breaks, the arm may look deformed or the bone may poke through the skin. In other less-severe fractures, it may be harder to tell.
				</p>
				<br>
				symptoms: <br>-Swelling and bruising <br>-Tenderness<br>-Severe pain<br>-Numbness<br>-Visible deformity of the forearm
				</div>
				</div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

{% endblock %}
</html>