body {
    height: auto;
    background-color:#72c9fb; 
    color: rgb(81, 145, 230)

}

.form{
    height: auto;
}

.elbow_questions{
    padding-top: 100px;
    margin-top: 120px;
    background-color: #3824ee;
    border: 5px #3023a1 dashed;
    width: 50%;
    font-family: "Open Sans", sans serif;
    color: black; 
    text-align: center;
}

.choices {
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: "Open Sans", sans serif;
    color: black; 
}