{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>ClickCare HnF Questionnaire</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'main/questionnaire.css' %}">

</head>

<body>
    <form method="POST" name="abstract">
        {%csrf_token%}

        <ul>

            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_1">
                        <h3>Are you experiencing pain and weakness on the affected hand?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_1" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_1" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_2">
                        <h3>Is there any popping or clicking when moving your finger?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_2" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_2" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_3">
                        <h3>Does the pain radiate at the base of your thumb?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_3" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_3" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>
            

            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_4">
                        <h3>Do you feel tenderness or bump at the base of the affected finger?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_4" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_4" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_5">
                        <h3>Are you experiencing reduced range of motion on the affected hand?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_5" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_5" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>
            

            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_6">
                        <h3>Are you experiencing stiffness with movement or activity in hand and wrist?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_6" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_6" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_7">
                        <h3>Are you experiencing swelling and bruising on your hand(s) and/or finger(s)?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_7" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_7" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_8">
                        <h3>Are you experiencing numbness and severe pain in your hand(s) and/or finger(s)?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_8" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_8" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_9">
                        <h3>Inability or difficulty to move the finger(s)?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_9" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_9" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>


            <li>
                <div class="questions" data-aos="zoom-in">
                    <label for="hnf_question_10">
                        <h3>Do you see or feel any deformity or distorted appearance in the affected hand(s) and/or finger(s)?</h3>
                    </label>
                </div>

                <div class="choices" data-aos="zoom-in">
                    <input type="radio" name="hnf_question_10" value = "1" required>
                    <label for="choice_yes">Yes/Oo</label>
                    <input type="radio" name="hnf_question_10" value = "0" required>
                    <label for="choice_no">No/Hindi</label>
                </div>
            </li>

        </ul>

    <div>
        <input class="proceed" type="submit" value="Submit" name="proceed" data-aos="zoom-in">
    </div>

    </form>

</body>
{% endblock %}
</html>